PORT=3000
DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME
DATABASE_SSL=true
APP_ORIGIN=https://online-meeting-time.web.app
FRONTEND_URL=https://online-meeting-time.web.app/
SYSTEM_ADMIN_CODE=1234
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
